body {
    color: #1B0C0C;
    background-color: #eaf2fa;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.title {
    font-size: 24px;
    color: #483d8b;
    font-weight: 700;
}

.button {
    background-color: #9AD872;
    border-radius: 4px;
    font-size: 12px;
    width: 65px;
    border: none;
    padding: 2px 4px;
}

.button:hover {
    cursor: pointer;
}

.input {
    display: flex;
    gap: 0.5rem;
}

.header {
    border-radius: 3px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 186, 186);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
}
